body
{   
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    background-color:#ffffff;
    16px/1.8 "Lato", "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
    font-style:normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 1.8;
    font-family: Lato, "Microsoft Jhenghei", "Hiragino Sans GB", "Microsoft YaHei", arial, sans-serif;
}

div { 
    text-align:center;
    width:100%; 
} 

.title
{
    line-height:200%;
    font-size:48px;
}

.foo
{
    font-family:"Times New Roman";
    font-size:20px;
}